# 0.0 IMPORTS

In [1]:
import pandas as pd
import inflection
import math
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import matplotlib.gridspec as gridspec

import datetime              
from tabulate              import tabulate
from scipy.stats           import chi2_contingency
from IPython.display       import Image
from IPython.core.display  import HTML

## 0.1 Helper Function

In [2]:
def jupyter_settings():
    %matplotlib inline
    %pylab inline
    
    plt.style.use( 'bmh' )
    plt.rcParams['figure.figsize'] = [25, 12]
    plt.rcParams['font.size'] = 24
    
    display( HTML( '<style>.container { width:100% !important; }</style>') )
    pd.options.display.max_columns = None
    pd.options.display.max_rows = None
    pd.set_option( 'display.expand_frame_repr', False )
    
    sns.set()

In [3]:
jupyter_settings()

Populating the interactive namespace from numpy and matplotlib

## 0.2 Loading Data

In [4]:
df_trip_2010_raw = pd.read_csv('data/2010_tripdata.csv', low_memory=False)
df_trip_2011_raw = pd.read_csv('data/2011_tripdata.csv', low_memory=False)
df_trip_raw = pd.concat( [df_trip_2010_raw, df_trip_2011_raw] )

df_trip_2012Q1_raw = pd.read_csv('data/2012Q1_tripdata.csv', low_memory=False)
df_trip_2012Q2_raw = pd.read_csv('data/2012Q2_tripdata.csv', low_memory=False)
df_trip_2012Q3_raw = pd.read_csv('data/2012Q3_tripdata.csv', low_memory=False)
df_trip_2012Q4_raw = pd.read_csv('data/2012Q4_tripdata.csv', low_memory=False)
df_trip_raw = pd.concat( [df_trip_raw, df_trip_2012Q1_raw, df_trip_2012Q2_raw, df_trip_2012Q3_raw, df_trip_2012Q4_raw] )

df_trip_2013Q1_raw = pd.read_csv('data/2013Q1_tripdata.csv', low_memory=False)
df_trip_2013Q2_raw = pd.read_csv('data/2013Q2_tripdata.csv', low_memory=False)
df_trip_2013Q3_raw = pd.read_csv('data/2013Q3_tripdata.csv', low_memory=False)
df_trip_2013Q4_raw = pd.read_csv('data/2013Q4_tripdata.csv', low_memory=False)
df_trip_raw = pd.concat( [df_trip_raw, df_trip_2013Q1_raw, df_trip_2013Q2_raw, df_trip_2013Q3_raw, df_trip_2013Q4_raw] )

df_trip_2014Q1_raw = pd.read_csv('data/2014Q1_tripdata.csv', low_memory=False)
df_trip_2014Q2_raw = pd.read_csv('data/2014Q2_tripdata.csv', low_memory=False)
df_trip_2014Q3_raw = pd.read_csv('data/2014Q3_tripdata.csv', low_memory=False)
df_trip_2014Q4_raw = pd.read_csv('data/2014Q4_tripdata.csv', low_memory=False)
df_trip_raw = pd.concat( [df_trip_raw, df_trip_2014Q1_raw, df_trip_2014Q2_raw, df_trip_2014Q3_raw, df_trip_2014Q4_raw] )

df_trip_2015Q1_raw = pd.read_csv('data/2015Q1_tripdata.csv', low_memory=False)
df_trip_2015Q2_raw = pd.read_csv('data/2015Q2_tripdata.csv', low_memory=False)
df_trip_2015Q3_raw = pd.read_csv('data/2015Q3_tripdata.csv', low_memory=False)
df_trip_2015Q4_raw = pd.read_csv('data/2015Q4_tripdata.csv', low_memory=False)
df_trip_raw = pd.concat( [df_trip_raw, df_trip_2015Q1_raw, df_trip_2015Q2_raw, df_trip_2015Q3_raw, df_trip_2015Q4_raw] )

df_trip_2016Q1_raw = pd.read_csv('data/2016Q1_tripdata.csv', low_memory=False)
df_trip_2016Q2_raw = pd.read_csv('data/2016Q2_tripdata.csv', low_memory=False)
df_trip_2016Q3_raw = pd.read_csv('data/2016Q3_tripdata.csv', low_memory=False)
df_trip_2016Q4_raw = pd.read_csv('data/2016Q4_tripdata.csv', low_memory=False)
df_trip_raw = pd.concat( [df_trip_raw, df_trip_2016Q1_raw, df_trip_2016Q2_raw, df_trip_2016Q3_raw, df_trip_2016Q4_raw] )

df_trip_2017Q1_raw = pd.read_csv('data/2017Q1_tripdata.csv', low_memory=False)
df_trip_2017Q2_raw = pd.read_csv('data/2017Q2_tripdata.csv', low_memory=False)
df_trip_2017Q3_raw = pd.read_csv('data/2017Q3_tripdata.csv', low_memory=False)
df_trip_2017Q4_raw = pd.read_csv('data/2017Q4_tripdata.csv', low_memory=False)
df_trip_raw = pd.concat( [df_trip_raw, df_trip_2017Q1_raw, df_trip_2017Q2_raw, df_trip_2017Q3_raw, df_trip_2017Q4_raw] )

In [5]:
df_trip_raw.sample(5)

        Duration           Start date             End date  Start station number                                 Start station  End station number                               End station Bike number Member type
113552      1561  2010-12-29 23:02:37  2010-12-29 23:28:39                 31401                        14th St & Spring Rd NW               31620                             5th & F St NW      W00092      Member
14892        251  2014-10-02 13:14:01  2014-10-02 13:18:13                 31623               Columbus Circle / Union Station               31624                North Capitol St & F St NW      W00693      Member
356377      5909  2015-05-04 10:18:26  2015-05-04 11:56:56                 31252                 21st St & Pennsylvania Ave NW               31264                   6th St & Indiana Ave NW      W22042      Casual
102133      1464  2014-04-12 08:59:35  2014-04-12 09:23:59                 31610  Eastern Market / 7th & North Carolina Ave SE               31633  Independence Ave & L'Enfant Plaza SW/DOE      W21449      Casual
54539        997  2012-04-09 19:46:20  2012-04-09 20:02:58                 31101                                14th & V St NW               31205                            21st & I St NW      W01093      Member

# 1.0 - DESCRIPTION OF DATA

In [6]:
df1 = df_trip_raw.copy()

## 1.1 Rename Columns

In [7]:
df1.columns
# I like to modify the column names in order to change all of them in lower case and underline between words. At the same time, names must be self-explanatory.

Index(['Duration', 'Start date', 'End date', 'Start station number',
       'Start station', 'End station number', 'End station', 'Bike number',
       'Member type'],
      dtype='object')

In [8]:
cols_old = ['Duration', 'Start date', 'End date', 'Start station number', 'Start station', 'End station number', 'End station', 'Bike number', 'Member type']
cols_old_ajusted = ['Duration', 'StartDate', 'EndDate', 'StartStationNumber', 'StartStation', 'EndStationNumber', 'EndStation', 'BikeNumber', 'MemberType']

# Whats is snakecase?
# Whats do inflection.underscore function?
snakecase = lambda x: inflection.underscore( x )

# Why I use lis?
cols_new = list( map( snakecase, cols_old_ajusted ) )

# rename
df1.columns = cols_new

In [26]:
# I will add the "index" column to help me in dealing with some techniques of managing data like check unbalanced data.
df1['id'] = str(df1.index

In [27]:
df1.columns

Index(['duration', 'start_date', 'end_date', 'start_station_number',
       'start_station', 'end_station_number', 'end_station', 'bike_number',
       'member_type', 'id'],
      dtype='object')

## 1.2 Data Dimensions

In [29]:
print( 'Number of Rows: {}'.format( df1.shape[0] ) )
print( 'Number of Cols: {}'.format( df1.shape[1] ) )
# Evaluate the possibilite do use this project in your computer

Number of Rows: 19117643
Number of Cols: 10

## 1.3 Data Types

In [30]:
df1.dtypes
# Observe date. It has a different data type.

duration                         int64
start_date              datetime64[ns]
end_date                datetime64[ns]
start_station_number             int64
start_station                   object
end_station_number               int64
end_station                     object
bike_number                     object
member_type                     object
id                               int64
dtype: object

In [31]:
df1['start_date'] = pd.to_datetime( df1['start_date'] )
df1['end_date'] = pd.to_datetime( df1['end_date'] )

In [32]:
df1.dtypes

duration                         int64
start_date              datetime64[ns]
end_date                datetime64[ns]
start_station_number             int64
start_station                   object
end_station_number               int64
end_station                     object
bike_number                     object
member_type                     object
id                               int64
dtype: object

## 1.4 Check NA

In [33]:
df1.isna().sum()

duration                0
start_date              0
end_date                0
start_station_number    0
start_station           0
end_station_number      0
end_station             0
bike_number             0
member_type             0
id                      0
dtype: int64

## 1.5 Fillout NA

In [34]:
# There aren't NaN values to fill.

## 1.6 Check Unbalanced Data

In [35]:
df_balanced = df1[['id', 'member_type']].groupby( 'member_type' ).count().sort_values( 'id' ).reset_index()
df_balanced['perc%'] = 100*np.round( ( df_balanced['id'] / np.sum( df_balanced['id'] ) ), 4 )
df_balanced

  member_type        id  perc%
0     Unknown        58   0.00
1      Casual   4175473  21.84
2      Member  14942112  78.16

## 1.7 Descriptive Analysis

### 1.7.1 General

In [36]:
num_attributes = df1.select_dtypes( include=['int64', 'float64'] )
cat_attributes = df1.select_dtypes( exclude=['int64', 'float64', 'datetime64[ns]'] )
time_attributes = df1.select_dtypes( include=['datetime64[ns]'] )

#### 1.7.1.1 Numerical

In [37]:
# Central Tendency
ct1 = pd.DataFrame( num_attributes.apply( np.mean ) ).T
ct2 = pd.DataFrame( num_attributes.apply( np.median ) ).T

# Dispersion
d1 = pd.DataFrame( num_attributes.apply( np.std ) ).T
d2 = pd.DataFrame( num_attributes.apply( min ) ).T
d3 = pd.DataFrame( num_attributes.apply( max ) ).T
d4 = pd.DataFrame( num_attributes.apply( lambda x: x.max() - x.min() ) ).T
d5 = pd.DataFrame( num_attributes.apply( lambda x: x.skew() ) ).T
d6 = pd.DataFrame( num_attributes.apply( lambda x: x.kurtosis() ) ).T

# Concatenar
ct = pd.concat( [d2, d3, d4, ct1, ct2, d1, d5, d6] ).T.reset_index()
ct.columns = ['attributes', 'min', 'max', 'range', 'mean', 'median', 'std', 'skew', 'kurtosis']
ct

             attributes      min        max      range           mean    median            std       skew    kurtosis
0              duration     60.0    86394.0    86334.0    1093.937030     673.0    2065.993636  16.465111  465.550138
1  start_station_number  31000.0    32225.0     1225.0   31303.112882   31241.0     205.059037   1.052848    0.744066
2    end_station_number  31000.0    32225.0     1225.0   31304.167477   31241.0     202.846500   1.057702    0.730085
3                    id      0.0  1226766.0  1226766.0  421129.587868  378412.0  283885.532034   0.539406   -0.534638

#### 1.7.1.2 Categorical

In [38]:
cat_attributes.drop( 'id', axis=1 ).describe()

KeyError: "['id'] not found in axis"